// Colors
$color-darkGrey: #323540;
$color-lightGrey: #f5f5f0;
$color-bakedYellow: #d89f5f;
$color-blueGrey: #5f657b;

// Spacing
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

// Other
$transition-smooth: 0.3s ease;
