@import "../../styles/variables.scss";

.productNav {
  background-color: $color-darkGrey;
  padding: $spacing-medium $spacing-large;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: $spacing-large;
    align-items: center;
    justify-content: flex-start;

    li {
      color: $color-lightGrey;
      cursor: pointer;
      transition: color $transition-smooth;

      &:hover {
        color: $color-bakedYellow;
      }
    }
  }
}
